@font-face
{
	font-family: 'Arial';
	font-style: italic;
	font-weight: normal;
	src: local('Ubuntu Italic'), local('Ubuntu-Italic.woff'), url('font/italic') format('woff');
}
@font-face
{
	font-family: 'Arial';
	font-style: normal;
	font-weight: bold;
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('font/bold.woff') format('woff');
}
@font-face
{
	font-family: 'Arial';
	font-style: normal;
	font-weight: normal;
	src: local('Ubuntu'), url('font/regular.woff') format('woff');
}

body, html
{
	height : 100%;
	width : 100%;
	
	margin : 0;
	padding : 0;
}

html > *
{
	width : 100%;
	margin : 0;
	padding : 0;
}

*
{
	overflow : hidden;
	font-family: Arial, serif;
	cursor: url("cursor.png") 32 32, auto;
}

body
{
	background-repeat : no-repeat;
	background-position : center center;
	background-attachment : fixed;
	background-size: 100%;
}

canvas
{
	margin : auto;
}

h1
{
	text-align : center;
	font-size : 2em;
}

h2
{
	border-bottom : 1px dotted gray;
	font-size : 1em;
	text-indent : 10%;
}

.key
{
	width : 5%;
	display : block;
	float : left;
	font-family: monaco, "Bitstream Vera Sans Mono", "Courier New", courier, monospace, serif;
	font-weight : bold;
	text-transform : uppercase;
}

.warning
{
	color : red;
	font-size : 2em;
	text-transform : uppercase;
	border : none;
}

/******************************************** loader ********************************************/

#pdiv + #loader, #pdiv + progress
{
	top : auto;
	position : fixed;
	bottom : 1.25%;
	height : 7.5%;
}

#loader, progress
{
	width : 80%;
	height : 7.5%;
	position : fixed;
	bottom : 46.25%;
	left : 10%;
	
	-moz-transition-property: bottom;
	-moz-transition-duration: 0.25s;
		-webkit-transition-property: bottom;
		-webkit-transition-duration: 0.25s;
		-o-transition-property: bottom;
		-o-transition-duration: 0.25s;
}

/******************************************** picker ********************************************/

#pdiv
{
	width : 80%;
	height : 80%;
	
	margin : auto;
	top : 10%;
	right : 10%;
	position : fixed;
	
	border : 1px solid gray;
	
	overflow : auto;
	
	background-color : rgba(255, 255, 255, 0.5); 
}

	#pdiv > div
	{
		border-bottom : 1px solid gray;
	}
	
		#pdiv > div:hover
		{
			font-weight : bold;
		}
		
		#pdiv > div:hover > div
		{
			font-weight : normal;
		}
	
	#pdiv > div > div
	{
		padding-left : 5%;
	}
	
		#pdiv > div > div:hover
		{
			font-weight : bold;
		}
	
	#pdiv #button, #pdiv input, #pdiv button
	{
		bottom : 1.25%;
		margin : auto;
		position : fixed;
		
		width : 80%;
		height : 7.5%;
		display : block;
		
		text-align : center;
		border : 1px solid gray;
	}

/******************************************** jWindow ********************************************/

#jWindow
{
	width : 30%;
	height : 30%;

	position : absolute;
	overflow-x : hidden;
	overflow-y : hidden;

	background-color : rgba(192, 192, 192, 0.75);
	border : 1px solid black;
	
	z-index : 1000;
}

#jWindow #jWindowText
{
	width : 90%;
	height : 100%;
	margin-right : 0;

	overflow-x : hidden;
	overflow-y : auto;

	background-color : white;
	cursor : default;
}

/******************************************** settings ********************************************/

/*#settings input[type=radio]:checked*/
