@font-face
{
	font-family: 'Arial';
	font-style: italic;
	font-weight: normal;
	src: local('Ubuntu Italic'), local('Ubuntu-Italic.woff'), url('font/italic') format('woff');
}
@font-face
{
	font-family: 'Arial';
	font-style: normal;
	font-weight: bold;
	src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url('font/bold.woff') format('woff');
}
@font-face
{
	font-family: 'Arial';
	font-style: normal;
	font-weight: normal;
	src: local('Ubuntu'), url('font/regular.woff') format('woff');
}

body, html
{
	height : 100%;
	width : 100%;
	
	margin : 0;
	padding : 0;
}

html > *
{
	width : 100%;
	margin : 0;
	padding : 0;
}

*
{
	overflow : hidden;
	font-family: Arial, serif;
	cursor: url("cursor.png") 32 32, auto;
}

body
{
	background-repeat : no-repeat;
	background-position : center center;
	background-attachment : fixed;
	background-size: 100%;
}

canvas
{
	margin : auto;
}

h1
{
	text-align : center;
	font-size : 2em;
}

h2
{
	border-bottom : 1px dotted gray;
	font-size : 1em;
	text-indent : 10%;
}

.key
{
	width : 5%;
	display : block;
	float : left;
	font-family: monaco, "Bitstream Vera Sans Mono", "Courier New", courier, monospace, serif;
	font-weight : bold;
	text-transform : uppercase;
}

.warning
{
	color : red;
	font-size : 2em;
	text-transform : uppercase;
	border : none;
}

#adsense
{
	display : none;
}

/******************************************** loader ********************************************/

#pdiv + #loader, #pdiv + progress
{
	top : auto;
	position : fixed;
	bottom : 1.25%;
	height : 7.5%;
}

#loader, progress
{
	width : 80%;
	height : 7.5%;
	position : fixed;
	bottom : 46.25%;
	left : 10%;
	
	-moz-transition-property: bottom;
	-moz-transition-duration: 0.25s;
		-webkit-transition-property: bottom;
		-webkit-transition-duration: 0.25s;
		-o-transition-property: bottom;
		-o-transition-duration: 0.25s;
}

/******************************************** picker ********************************************/

#pdiv
{
	width : 80%;
	height : 80%;
	
	margin : auto;
	top : 10%;
	right : 10%;
	position : fixed;
	
	border : 1px solid gray;
	
	overflow : auto;
	
	background-color : rgba(255, 255, 255, 0.5); 
}

	#pdiv > div
	{
		border-bottom : 1px solid gray;
	}
	
		#pdiv > div:hover
		{
			font-weight : bold;
		}
		
		#pdiv > div:hover > div
		{
			font-weight : normal;
		}
	
	#pdiv > div > div
	{
		padding-left : 5%;
	}
	
		#pdiv > div > div:hover
		{
			font-weight : bold;
		}
	
	#pdiv #button, #pdiv input, #pdiv button
	{
		bottom : 1.25%;
		margin : auto;
		position : fixed;
		
		width : 80%;
		height : 7.5%;
		display : block;
		
		text-align : center;
		border : 1px solid gray;
	}

/******************************************** jWindow ********************************************/

#jWindow
{
	width : 30%;
	height : 30%;

	position : absolute;
	overflow-x : hidden;
	overflow-y : hidden;

	background-color : rgba(192, 192, 192, 0.75);
	border : 1px solid black;
	
	z-index : 1000;
}

#jWindow #jWindowText
{
	width : 90%;
	height : 100%;
	margin-right : 0;

	overflow-x : hidden;
	overflow-y : auto;

	background-color : white;
	cursor : default;
}

/******************************************** progress ********************************************/

@-webkit-keyframes animate-stripes
{
	from
	{
		background-position: 0 0;
	}
	
	to
	{
		background-position: 44px 0;
	}
}

#loader
{
	padding-right: 2px;
	
	background-color: #abb2bc;
	
	border-radius: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b6bcc6), color-stop(1, #9da5b0));
	background: -moz-linear-gradient(#9da5b0 0%, #b6bcc6 100%);
	
	-webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
	-moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
}

#loader div
{
	position: relative;
	display: block;
	overflow: hidden;
	
	height : 100%;
	height: -moz-calc(100% - 2px);
	height: -webkit-calc(100% - 2px);
	height: -o-calc(100% - 2px);
	height: calc(100% - 2px);
	
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	
	-webkit-background-size: 44px 44px; /* Webkit */
	
	background-color: #74d04c;
	
	background: -webkit-gradient(linear, 0 0, 44 44,
		color-stop(0.00, rgba(255,255,255,0.17)),
		color-stop(0.25, rgba(255,255,255,0.17)),
		color-stop(0.26, rgba(255,255,255,0)),
		color-stop(0.50, rgba(255,255,255,0)),
		color-stop(0.51, rgba(255,255,255,0.17)),
		color-stop(0.75, rgba(255,255,255,0.17)),
		color-stop(0.76, rgba(255,255,255,0)),
		color-stop(1.00, rgba(255,255,255,0))
	), -webkit-gradient(linear, left bottom, left top, color-stop(0, #74d04c), color-stop(1, #9bdd62));
	background: -moz-repeating-linear-gradient(top left -30deg, 
		rgba(255,255,255,0.17), 
		rgba(255,255,255,0.17) 15px, 
		rgba(255,255,255,0) 15px, 
		rgba(255,255,255,0) 30px
	), -moz-linear-gradient(#9bdd62 0%, #74d04c 100%);
	
	-webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
	-moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
	box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
	
	border: 1px solid #4c8932;
	
	-webkit-animation: animate-stripes 2s linear infinite;
	
	-moz-transition-property: width;
	-moz-transition-duration: 0.5s;
	
	-webkit-transition-property: width;
	-webkit-transition-duration: 0.5s;
}

#loader input
{
	background : none;
	border : none;
	height : 100%;
	width : auto;
	
	font-size: 1em;
	position: absolute;
	right: 0;
	padding-right: 15px;
	color: rgba(0,0,0,0.6);
	text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
}
